.component__divider {
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.header__logo{
  width: 100px;
  height: 50px;
  padding: 2px 0px 2px 20px;

}